<div id="containerTable" class="card mx-basic my-basic ">
    <div class="row">
        <div class="col s6">
            <table class="striped">
                <thead>
                    <th>
                        <tr>
                            <td>#</td>
                            <td>Paradas</td>
                            <td>Salida de Oaxaca</td>
                            <td>Salida de Villa Alta</td>
                            <td>Accion</td>
                        </tr>
                    </th>
                </thead>
                <tbody id="data">
                </tbody>
            </table>
        </div>
    </div>
</div>