<div id="containerForm" class="card mx-basic my-basic hide">
    <form id="formPrecio" action="/admin/salida" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s3">
                <label>Punto de Parada</label>
            </div>
            <div class="input-field col s3">
                <label>Precio desde Oaxaca</label>
            </div>
            <div class="input-field col s3">
                <label>Precio desde Villa</label>
            </div>
        </div>
        <div class="row">   
            <div class="input-field col s3">
                <input id="parada" type="text"></input>
            </div>   
            <div class="input-field col s3">
                <input id="precioOaxaca" type="text"></input>
            </div>
            <div class="input-field col s3">
                <input id="precioVilla" type="text"></input>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s1 offset-s10">
            <button type="submit" id="btnGuardar" class="waves-effect waves-light btn my-basic mx-basic blue">Registrar</button>
        </div>
        <div class="col s1 offset-s10">
            <button id="btnCancelar" class="waves-effect waves-light btn my-basic mx-basic red">Cancelar</button>
        </div>
    </div>
</div>