<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../comunes/usuario/headers-component") -%>
        <link rel="stylesheet" href="/assets/css/busqueda.css">
</head>

<body>

    <%- include("../comunes/usuario/sidenav-component") -%>
        <main>
            <img class="imagenFondo" src="assets/img/busFondo.png">
            <%- include("../busqueda/components/form-busqueda-components") -%>
        </main>

        <%- include("../comunes/usuario/footer-component") -%>
            <script src="/assets/js/busqueda/busqueda.js"></script>
</body>

</html>