<ul id="slide-out" class="sidenav sidenav-fixed blue ">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/assets/img/fondo.jpg">
            </div>
            <a><i class="large material-icons white-text">person</i></a>
            <a><span class="white-text name">
                    <%= user.nombre %>
                </span></a>
            <a href="#email"><span class="white-text email">
                    <%= user.correo %>
                </span></a>

        </div>
    </li>

    <li class="no-padding">
        <li><a class="subheader white-text">Opciones</a></li>
        <li> <a class="white-text" href="/admin/"">Reporte Anual<i class="material-icons white-text">featured_play_list</i></a></li>
        <li> <a class="white-text" href="/admin/salida/view"">Salidas<i class=" material-icons white-text">location_on</i></a></li>
        <li> <a class="white-text" href="/admin/precio/view">Precios<i class="material-icons white-text">attach_money</i></a></li>
        <li> <a class="white-text" href="/admin/usuario/view"">Usuarios<i class=" material-icons white-text">people</i></a></li>
        <li> <a class="white-text" href="/admin/administrador/view"">Administradores<i class=" material-icons    white-text">group_add</i></a></li>
    </li>
    <style>
		#elemento {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			padding-bottom: 70px;
		}
	</style>
    <li id="elemento">
        <a class="white-text" href="/">Cerrar Sesión</a>
    </li>
    
</ul>
<!--a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a-->