<div id="formTiket" class="hice">
    <div class="a1">
        <div class="a2">
            <div class="a21">
                <h4>Nombre</h4>
                <p id="nombre">#</p>
                <h4>Origen</h4>
                <p id="origen">#</p>
                <h4>Destino</h4>
                <p id="destino">#</p>
            </div>
            <div class="a22">
                <div class="a221">
                    <h4>Asiento</h4>
                    <p id="num" class="num">#</p>
                </div>
                <div class="linea"></div>
                <div class="a222">
                    <h4>Fecha</h4>
                    <p id="fecha">#</p>
                    <h4>Hora</h4>
                    <p id="hora">#</p>
                </div>
            </div>
        </div>
        <div class="a3">
            <div class="a31">
                <div class="a311">
                    <h4>No. Folio</h4>
                    <p id="numFolio">#</p>
                    <h4>No. Usuario</h4>
                    <p id="numPasajero">#</p>
                </div>
                <div class="a312">
                    <h4>No. Salida</h4>
                    <p id="numViaje">#</p>

                </div>
            </div>
            <div class="a32">
                <div class="a321">
                    <h4>Precio</h4>
                    <p id="precio">#</p>
                </div>
                <div class="a322">
                    <img class="imgQR" src="/assets/img/qr.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="botones">
        <button id="btnRegresar" type="button">Regresar</button>
        <button id="btnDescargar" type="button">Descargar Boleto</button>
    </div>
</div>