<div id="containerPagado" class="hide">
    <div class="e1">
        <h1>¡Gracias!</h1>
        <P>Su compra ha sido realizada con éxito</P>
        <img src="/assets/img/autobus.png" alt="">
        <p id="numCompra"></p>
        <span>Presione para descargar su boleto digital</span>
        <button id="btnVerMisBoletos">Ver mis Boletos</button>
        <div>
            <a href="/busqueda">VOLVER AL INICIO</a>
        </div>
    </div>

</div>