<div id="containerPago" class="hide">
    <div class="dividirPantalla">

        <div class="datosViaje-pago">
            <div class="datosAsientos">
                <div class="datosViaje">
                    <h4>Datos del Viaje</h4>
                    <p id="fecha_hora1">Hora:</p>
                    <p id="origen1">Origen:</p>
                    <p id="destino1">Destino:</p>
                </div>

                <div class="viajePrecio">
                    <div class="alinearDatos">
                        <p class="texto">Viaje</p>
                        <p class="precio" id="viajeValor1"></p>
                    </div>
                    <div class="alinearDatos">
                        <p class="texto">Subtotal</p>
                        <p class="precio" id="subtotalValor1"></p>
                    </div>
                    <div class="alinearDatos">
                        <p class="texto">IVA</p>
                        <p class="precio" id="ivaValor1"></p>
                    </div>
                </div>

                <div class="viajePrecioTotal">
                    <div class="alinearDatos">
                        <p class="texto">Total:</p>
                        <p class="precio" id="precioFinal1"></p>
                    </div>
                    <div class="alinearDatos">
                        <p class="textoDato" id="origen">Precios incluyen IVA</p>
                    </div>
                </div>
                <div class="pago">
                    <button id="btnFinalizarPago">Finalizar Compra</button>
                </div>
            </div>
        </div>

        <div class="datosPasajero-pago">
            <h5>Datos de pasajeros</h5>
            <form id="formDatosPasajero" action="" method="post">
                <div id="formContainer01" class="containerPasajero">
                    <div id="container-div01" class="container-div">

                        <div id="container-valores01" class="container-valores">

                            <p id="pasajero01">Pasajero 01</p>
                            <p id="asiento01">Asiento: </p>
                        </div>

                        <div id="container-datos01" class="container-datos">
                            <div id="container-nombre01" class="container-nombre">
                                <p id="nombre01">Nombre(s)*</p>
                                <input id="inputNombre01" placeholder="Nombre del pasajero" type="text">
                            </div>
                            <div id="container-apellido01" class="container-apellido">
                                <p id="apellido01">Apellido(s)*</p>
                                <input id="inputApellido01" placeholder="Apellidos del pasajero" type="text">
                            </div>
                        </div>
                    </div>
                    <p></p>
                </div>
            </form>
        </div>
    </div>
</div>